.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* margin-left: auto;
  margin-top: auto; */
  height: 100vh;
  width: 100vh;
  background-color: #e5c8c8;
  padding: 2rem;
}